@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/font/GeistMono-Regular.woff2") format("woff2"),
    url("/font/GeistMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/font/GeistMono-Bold.woff2") format("woff2"),
    url("/font/GeistMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
